.userContacts {
  display: flex;
  flex-direction: column;

  & > a {
    width: 100%;
    display: flex;
    padding: 12px 16px;
    text-decoration: none;

    & > div:nth-child(1) {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        width: 85%;
        height: 100%;
        border-radius: 50%;
        background-color: chartreuse;
      }
    }
    & > div:nth-child(2) {
      flex: 7;

      h3 {
        font-size: 20px;
        color: #000;
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 6px;
          background-color: red;

          &.active {
            background-color: forestgreen;
          }
        }
      }
      p {
        font-size: 16px;
        color: lightgrey;
      }
    }
  }
}
